<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>9BMetrics WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>9BMetrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Gyrometrics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GyrometricsDataModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GyrometricsUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MiniZip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0056A39A1EA9FCED0016A201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0056A3D01EAA31DB0016A201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>007A57131C85CE49003A2030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>007A57251C85CE49003A2030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>009B34811E93EEED0064F787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>009B348A1E93EEED0064F787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
